.square-container {
    width: 100%;
}
  
.square {
    width: 8.5em;
    height: 2em;
    border-radius: 10px;
    background-color: rgb(229, 229, 229);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 550;
}
  
.square::before {
    content: '';
    display: block;
}

.square:hover {
    cursor: pointer;
}

  