<div class="search-container">
    <div class="search-input" *ngIf="paginatedExtensions.length > 0">
      <span class="search-icon"> 🔍 </span>
      <input 
        type="text" 
        placeholder="Search by organization name" 
        [(ngModel)]="searchQuery" 
        (input)="onSearchOrganization()"/>
    </div>
    <button mat-raised-button color="primary" class="create-btn" (click)="openDialog()">Create an organization</button>
  </div>

  <div *ngIf="paginatedExtensions.length === 0" class="no-organizations">
    <p>You currently do not have an organization!</p>
  </div>
  
<div class="pagination-container" *ngIf="paginatedExtensions.length > 0">
    <button mat-raised-button color="primary" (click)="changePage(-1)" [disabled]="currentPage === 1" class="pagination-btn">
      Previous
    </button>
  
    <span class="page-indicator">
      {{ currentPage }} / {{ totalPages }}
    </span>
  
    <button mat-raised-button color="primary" (click)="changePage(1)" [disabled]="currentPage === totalPages" class="pagination-btn">
      Next
    </button>
  
    <div class="page-size-container">
      <label for="page-size">Page Size:</label>
      <select id="page-size" class="custom-select" (change)="changePageSize($event)">
        <option [value]="2">2</option>
        <option [value]="5">5</option>
        <option [value]="10">10</option>
      </select>
    </div>
  </div>

<!-- List of organizations -->
<div class="extensions-container" *ngIf="paginatedExtensions.length > 0">
    <div 
      class="extension-card" 
      *ngFor="let org of paginatedExtensions"
      (click)="goToDetails(org.id)">

      <div class="icon">
        <img
          *ngIf="org.imageUrl"
          [src]="org.imageUrl"
          alt="Organization Image"
          width="300"
        />
        <img
          *ngIf="!org.imageUrl"
          src="images/loading.png"
          alt="Organization Image"
          width="300"
        />
      </div>
  
      <div class="details">
        <h3>
          {{ org.name }}
          <span *ngIf="org.isOwner" class="owner-icon">👑</span>
        </h3>
        <p class="publisher">Created {{ org.createdAt | date:'dd.MM.yyyy. HH:mm' }}</p>
        <p>{{ org.description }}</p>
      </div>
    </div>
  </div>
  
