#title {
    text-align: center;
    font-size: 2em;
}

#table-container {
    margin: auto;
    width: 90%;
    max-height: 95%;
}

tr {
    cursor: pointer;
}

.row:hover {
    background-color: #cccccc;
}

#create-team-btn {
    margin-top: 2em; 
}
