<h2 class="header">Star repositories</h2>
<div class="image-list">
    <div *ngFor="let repository of starRepositories">
        <div *ngFor="let image of repository.images" class="image-item">
        <div class="image-header">
            <div class="repo-name" [routerLink]="['/explore/repository', image.repositoryId]">{{ image.repositoryName }}<span class="image-id">#{{ image.imageId }}</span>
            </div>
            <div class="badge" [ngClass]="image.badge">{{ image.badge }}</div>
        </div>
        <div class="image-description">{{ image.description }}</div>
        <div class="image-tags">
            <span *ngFor="let tag of image.tags" class="tag">{{ tag }}</span>
        </div>
        <div class="image-footer">
            <span class="star-count">{{ image.starCount }} stars</span>
        </div>
        </div>
    </div>
  </div>

  <h2 class="header">Private repositories</h2>
  <div class="image-list">
      <div *ngFor="let repository of privateRepositories">
          <div *ngFor="let image of repository.images" class="image-item">
          <div class="image-header">
              <div class="repo-name" [routerLink]="['/explore/repository', image.repositoryId]">{{ image.repositoryName }}<span class="image-id">#{{ image.imageId }}</span>
              </div>
              <div class="badge" [ngClass]="image.badge">{{ image.badge }}</div>
          </div>
          <div class="image-description">{{ image.description }}</div>
          <div class="image-tags">
              <span *ngFor="let tag of image.tags" class="tag">{{ tag }}</span>
          </div>
          <div class="image-footer">
              <span class="star-count">{{ image.starCount }} stars</span>
          </div>
          </div>
      </div>
    </div>

